<div (click)="switchTheme()" [ngClass]="isDark ? 'dark' : 'light'">
  <h1>
    {{ speed }}
  </h1>
  <h2>
    <span class="blink">{{ time | date : "HH.mm" }}</span>
  </h2>
  <div class="info">
    <small
      >{{ latitude | number : "1.6" }},{{ longitude | number : "1.6" }}</small
    >
    <small>{{ accuracy | number : "1.0" }}</small>
    <small>{{ log }}</small>
  </div>
</div>
