:host > div {
  color: #706f6f;
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: calc(128px + 6 * ((100vw - 320px) / 128));
    font-weight: 200;
    margin: 0;
    text-align: center;
  }

  &.dark {
    color: #ffffff;
    background-color: #000000;
  }
  &.light {
    background-color: #ffffff;
    color: #000000;
  }

  h2 {
    font-weight: 200;
    margin: 0;
    font-size: 36px;
  }

  .info {
    display: none;
    opacity: 60%;
    text-align: center;
    small {
      font-size: x-small;
      display: block;
    }

    .error {
      color: red;
    }
  }
  .blink {
    animation: blink 1s linear infinite;
  }
  @keyframes blink {
    50% {
      opacity: 60%;
    }
  }
}
